<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebson.skillserver.v1.channels.FP.mapper.BuilderV1BlockDomainMapper">

    <resultMap id="builderV1BlockMap" type="com.ebson.skillserver.v1.channels.FP.domain.BuilderV1BlockDomain">
        <result column="BLOCK_ID" property="blockId" javaType="java.util.UUID" jdbcType="BINARY" typeHandler="com.ebson.skillserver.typeHandler.UUIDTypeHandler"/>
        <result column="SCENARIO_ID" property="scenarioId" javaType="java.util.UUID" jdbcType="BINARY" typeHandler="com.ebson.skillserver.typeHandler.UUIDTypeHandler"/>
        <result column="BLOCK_NAME" property="blockName"/>
        <result column="CREATED_DATE" property="createdDate"/>
        <result column="LAST_UPDATED_DATE" property="lastUpdatedDate"/>
        <result column="CREATOR" property="creator" javaType="java.util.UUID" jdbcType="BINARY" typeHandler="com.ebson.skillserver.typeHandler.UUIDTypeHandler"/>
        <result column="LAST_UPDATER" property="lastUpdater" javaType="java.util.UUID" jdbcType="BINARY" typeHandler="com.ebson.skillserver.typeHandler.UUIDTypeHandler"/>
    </resultMap>

    <!-- Select -->
    <select id="selectByBlockId" resultMap="builderV1BlockMap">
        SELECT block_id
            , scenario_id
            , block_name
            , created_date
            , last_updated_date
            , creator
            , last_updater
        FROM BUILDER_V1_BLOCK
        WHERE BLOCK_ID = #{blockId, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
    </select>

    <!-- Select All -->
    <select id="selectAll" resultMap="builderV1BlockMap">
        SELECT block_id
            , scenario_id
            , block_name
            , created_date
            , last_updated_date
            , creator
            , last_updater
        FROM BUILDER_V1_BLOCK
    </select>

    <!-- Insert -->
    <insert id="insertBuilderV1Block" parameterType="com.ebson.skillserver.v1.channels.FP.domain.BuilderV1BlockDomain">
        INSERT INTO BUILDER_V1_BLOCK
            (
                block_id
                , scenario_id
                , block_name
                , created_date
                , last_updated_date
                , creator
                , last_updater
            )
        VALUES
            (
                #{blockId, jdbcType=BINARY, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
                , #{scenarioId, jdbcType=BINARY, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
                , #{blockName}
                , #{createdDate}
                , #{lastUpdatedDate}
                , #{creator, jdbcType=BINARY, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
                , #{lastUpdater, jdbcType=BINARY, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
            )
    </insert>

    <!-- Update -->
    <update id="updateBuilderV1Block" parameterType="com.ebson.skillserver.v1.channels.FP.domain.BuilderV1BlockDomain">
        UPDATE BUILDER_V1_BLOCK
        SET block_name = #{blockName}
            , last_updated_date = #{lastUpdatedDate}
            , creator = #{creator, jdbcType=BINARY, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
            , last_updater = #{lastUpdater, jdbcType=BINARY, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
        WHERE block_id = #{blockId, jdbcType=BINARY, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
    </update>

    <!-- Delete -->
    <delete id="deleteByBlockId">
        DELETE FROM BUILDER_V1_BLOCK
        WHERE block_id = #{blockId, jdbcType=BINARY, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
    </delete>

</mapper>
