<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebson.skillserver.v1.channels.FP.mapper.SkillResV1VersionDomainMapper">

    <resultMap id="skillResV1VersionMap" type="com.ebson.skillserver.v1.channels.FP.domain.SkillResV1VersionDomain">
        <result property="versionId" column="VERSION_ID" javaType="java.util.UUID" jdbcType="BINARY" typeHandler="com.ebson.skillserver.typeHandler.UUIDTypeHandler"/>
        <result property="blockId" column="BLOCK_ID" />
        <result property="blockCode" column="BLOCK_CODE" />
        <result property="major" column="MAJOR"/>
        <result property="minor" column="MINOR"/>
    </resultMap>

    <!-- Select -->
    <select id="selectByVersionId" resultMap="skillResV1VersionMap">
        SELECT version_id
                , block_id
                , block_code
                , major
                , minor
        FROM SKILL_RES_V1_VERSION
        WHERE version_id = #{versionId, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
    </select>

    <!-- Select All -->
    <select id="selectAll" resultMap="skillResV1VersionMap">
        SELECT version_id
                , block_id
                , block_code
                , major
                , minor
        FROM SKILL_RES_V1_VERSION
    </select>

    <!-- Insert -->
    <insert id="insertSkillResV1Version" parameterType="com.ebson.skillserver.v1.channels.FP.domain.SkillResV1VersionDomain">
        INSERT INTO SKILL_RES_V1_VERSION (version_id
                    , block_id
                    , block_code
                    , major
                    , minor)
        VALUES (#{versionId, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
                , #{blockId}
                , #{blockCode}
                , #{major}
                , #{minor})
    </insert>

    <!-- Update -->
    <update id="updateSkillResV1Version" parameterType="com.ebson.skillserver.v1.channels.FP.domain.SkillResV1VersionDomain">
        UPDATE SKILL_RES_V1_VERSION
        SET block_id = #{blockId}
            , block_code = #{blockCode}
            , major = #{major}
            , minor = #{minor}
        WHERE version_id = #{versionId, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
    </update>

    <!-- Delete -->
    <delete id="deleteByVersionId">
        DELETE FROM SKILL_RES_V1_VERSION
        WHERE version_id = #{versionId, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
    </delete>


</mapper>