<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebson.skillserver.v1.channels.FP.mapper.SkillResV1VersionDomainMapper">
    <!-- Select -->
    <select id="selectByVersionId" resultType="com.ebson.skillserver.v1.channels.FP.domain.SkillResV1VersionDomain">
        SELECT version_id
                , block_id
                , major
                , minor
                , created_date
                , last_updated_date
                , creator
                , last_updater
        FROM SKILL_RES_V1_VERSION
        WHERE version_id = #{versionId, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
    </select>

    <!-- Select All -->
    <select id="selectAll" resultType="com.ebson.skillserver.v1.channels.FP.domain.SkillResV1VersionDomain">
        SELECT version_id
                , block_id
                , major
                , minor
                , created_date
                , last_updated_date
                , creator
                , last_updater
        FROM SKILL_RES_V1_VERSION
    </select>

    <!-- Insert -->
    <insert id="insert" parameterType="com.ebson.skillserver.v1.channels.FP.domain.SkillResV1VersionDomain">
        INSERT INTO SKILL_RES_V1_VERSION (version_id
                    , block_id
                    , major
                    , minor
                    , created_date
                    , last_updated_date
                    , creator
                    , last_updater)
        VALUES (#{versionId, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
                , #{blockId, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
                , #{major}
                , #{minor}
                , #{createdDate}
                , #{lastUpdatedDate}
                , #{creator, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
                , #{lastUpdater, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler})
    </insert>

    <!-- Update -->
    <update id="update" parameterType="com.ebson.skillserver.v1.channels.FP.domain.SkillResV1VersionDomain">
        UPDATE SKILL_RES_V1_VERSION
        SET block_id = #{blockId, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
            , major = #{major}
            , minor = #{minor}
            , last_updated_date = #{lastUpdatedDate}
            , last_updater = #{lastUpdater, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
        WHERE version_id = #{versionId, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
    </update>

    <!-- Delete -->
    <delete id="deleteByVersionId">
        DELETE FROM SKILL_RES_V1_VERSION
        WHERE version_id = #{versionId, typeHandler=com.ebson.skillserver.typeHandler.UUIDTypeHandler}
    </delete>


</mapper>